{% extends "base.html" %}

{% block title %} Підписники бота {{ bot.name }} {% endblock %}

{% block links %}
    <a href="{% url 'bots-management:bot-list' %}"
       class="mt-3 mb-3 text-dark text-decoration-none">Боти</a>
    <span class="text-dark">/</span>
    <a href="{% url 'bots-management:bot-list' %}"
       class="mt-3 mb-3 text-dark text-decoration-none">{{ bot.name }}</a>
    <span class="text-muted">/</span>
    <a href="{% url 'bots-management:subscribers:subscriber-list' bot.slug %}"
       class="mt-3 mb-3 text-dark text-decoration-none">Підписники</a>
{% endblock %}

{% block content %}

    <h3> Список підписників бота
        {{ bot.name }}
    </h3>
    <table class="table mt-3 table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Аватар</th>
            <th scope="col">Ім'я</th>
            <th scope="col">Нікнейм</th>
            <th scope="col">Активний</th>
            <th scope="col">Дата реєстрації</th>
            <th scope="col">Адмін</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for subscriber in subscribers %}

            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                {% if subscriber.avatar %}
                    <td><img src="{{ subscriber.avatar }}" alt="subscriber avatar" width="64px"></td>
                {% endif %}
                {% if subscriber.name %}
                    <td class="align-middle">{{ subscriber.name }}</td>
                {% else %}
                    <td class="align-middle">-</td>
                {% endif %}
                {% if subscriber.username %}
                    <td class="align-middle"><a href="https://t.me/{{ subscriber.username }}">{{ subscriber.username }}</a></td>
                {% else %}
                    <td class="align-middle">-</td>
                {% endif %}
                <td class="align-middle">
                    {% if subscriber.is_active %}
                        <i class="fas fa-check" style="color: green" data-toggle="tooltip" data-placement="top"
                           title="Banned!"></i>
                    {% else %}
                        <i class="fas fa-ban" style="color: darkred" data-toggle="tooltip" data-placement="top"
                           title="Active!"></i>
                    {% endif %}</td>
                <td class="align-middle">{{ subscriber.created|date:'H:i d/m/Y' }}</td>
                <td class="align-middle">
                    {% if subscriber.is_admin %}
                        <i class="fas fa-check" style="color: green"></i>
                    {% else %}
                        <i class="fas fa-times" style="color: darkred"></i>
                    {% endif %}
                </td>
                <td class="align-middle">
                    {% if not subscriber.is_admin %}

                        {% if subscriber.is_active %}
                            <form method="POST" action="{{ subscriber.id }}/ban">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger"><i
                                        class="fas fa-ban"></i></button>
                            </form>

                        {% else %}
                            <form method="POST" action="{{ subscriber.id }}/unban">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-warning"><i
                                        class="fas fa-undo"></i></button>
                            </form>

                        {% endif %}
                    {% endif %}

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}