{% extends "base.html" %}
{% block title%} Удаление рассылки {% endblock %}

{% block links %}
{% endblock %}

{% block content %}
   <form method="post">{% csrf_token %}
        <p>Вы действительно желаете удалить рассылку?</p>
        <p class="text-warning">Рассылки в мессенджере Telegram могут быть удалены только в течении 48 часов после отправки</p>
        <input type="submit" class="btn btn-danger" value="Подтвержаю">
        <a href="{% url 'bots-management:mailings:mailing-list' mailing.bot.slug %}" class="btn btn-info">
            Отменить
        </a>
    </form>
{% endblock %}