{% extends "base.html" %}
{% block title %}Додати нового бота{% endblock %}

{% block links %}
    <a href="{% url 'bots-management:bot-list' %}"
       class="mt-3 mb-3 text-dark text-decoration-none">
        Боти
    </a><span class="text-dark">/</span>
    <a href="{% url "bots-management:bot-create" %}"
       class="mt-3 mb-3 text-dark text-decoration-none">
        Додати бота
    </a>
{% endblock %}

{% block content %}
    {# <a href="{% url 'bots-management:channel-detail' channel_slug %}"#}
    {#  class="btn btn-info btn-lg active mt-3 mb-3">#}
    {#    &#8592 Назад#}
    {#</a> #}
    <h2 class="display-5 text-center">Додати нового бота</h2>
    <div class="d-flex flex-column align-items-center">
        <form method="post" class="w-50">
            {% csrf_token %}
            {% for field in form %}
                {% if not field.is_hidden %}
                    <div class="form-group">
                        <label for="{{ field.auto_id }}">{{ field.label_tag }} </label>
                        {{ field }}
                        {% if field.help_text %}
                            <small class="form-text text-muted"> {{ field.help_text }} </small>
                        {% endif %}
                        {% if field.errors %}
                            <div class="text-danger"> {{ field.errors }} </div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
            <input type="submit" class="btn btn-success" value="Зберегти">
            <a class="btn btn-danger" href="{% url 'bots-management:bot-list' %}">Відмінити</a>
        </form>
    </div>
{% endblock %}
{% block scripts %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.full.js"></script>
    <script>
        $(document).ready(function () {
            $('.js-example-basic-single').select2();
            $('.js-example-basic-multiple').select2();
        });
    </script>
{% endblock scripts %}
