{% extends "base.html" %}
{% block title %} Список усіх ботів {% endblock title %}

{% block links %}
    <span class="text-muted">Боти</span>
{% endblock %}

{% block content %}
    <h3>Ваші боти</h3>
    <div>
        <a href="{% url 'bots-management:bot-create' %}" class="btn btn-dark">Додати бота</a>
    </div>
    {% if bots %}

        <div class="row align-items-start">
            {% for bot in bots %}
                <div class="card m-3 bg-dark text-white" style="width: 25rem;">

                    <div class="card-body">
                        <h5 class="card-title">Товар "{{ bot.name }}"</h5>

                        {% if bot.description %}
                            <p class="card-text"> Описания: {{ bot.description }} </p>
                        {% endif %}

                        {% if bot.telegram_operator %}
                            <p class="card-text"> Telegram: <a
                                    href="https://t.me/{{ bot.telegram_operator }}">@{{ bot.telegram_operator }}</a>
                            </p>
                        {% endif %}

                        <span>Доступні країни:</span>
                        <ul>
                            {% for c in bot.available_countries.all %}
                                <li> {{ c.name }} </li>
                            {% endfor %}
                        </ul>

                        <span>Доступні типи доставки:</span>
                        <ul>
                            {% for c in bot.available_delivery_type.all %}
                                <li> {{ c.name }} </li>
                            {% endfor %}
                        </ul>

                        <span>Доступні типи оплати:</span>
                        <ul>
                            {% for c in bot.available_payment_types.all %}
                                <li> {{ c.name }} </li>
                            {% endfor %}
                        </ul>
                        <p> Валюта: {{ bot.currency }}</p>
                        {% if bot.welcome_text %}
                            <p class="card-text"> Привітальне повідомлення: {{ bot.welcome_text }}</p>
                        {% endif %}

                        <p class="card-text"> Telegram токен: {{ bot.token }} </p>

                        <p class="card-text"> Telegram підключен коректно: {% if bot.is_webhook_set %}
                            <i class="fa fa-check" aria-hidden="true" style="color: limegreen"></i>
                        {% else %}
                            <i class="fa fa-times" aria-hidden="true" style="color: red"></i>
                            <span data-toggle="tooltip" data-placement="top"
                                  title="Перевірте правильність Telegram токену та за необхідності оновіть бота.">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                </span>
                        {% endif %}
                        </p>

                        <a href="{{ bot.get_update_url }}" class="btn btn-warning">Редагувати</a>
                        <a href="{{ bot.get_delete_url }}" class="btn btn-danger">Видалити</a>
                        <div class="mt-2">
                            <div class="btn-group" role="group" aria-label="Додатково">
                                <a href="{% url 'bots-management:products:category-list' bot.slug %}"
                                   class="btn btn-warning">Категорії</a>
                                <a href="{% url 'bots-management:products:product-list' bot.slug %}"
                                   class="btn btn-success">Товари</a>
                            </div>
                        </div>
                        <div class="mt-2">
                            <div class="btn-group" role="group" aria-label="Додатково">
                                <a href="{% url 'bots-management:orders:order-list' bot.slug %}"
                                   class="btn btn-info">Замовлення</a>
                                <a href="{% url 'bots-management:subscribers:subscriber-list' bot.slug %}"
                                   class="btn btn-light">Підписники</a>
                            </div>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p> У вас пока что нет доступных потом:( </p>
    {% endif %}

{% endblock content %}
